---
import Section from "../Section.astro";

import { work } from "@/cv-es.json";
---

<Section title="Experiencie">
  <ul>
    {
      work.map(
        ({ name, startDate, endDate, position, summary, highlights }) => {
          const starYear = new Date(startDate).getFullYear();
          const endYear =
            endDate !== null ? new Date(endDate).getFullYear() : "Actualidad";
          const years = `${starYear} - ${endYear}`;

          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>{name}</h3>
                    <h4>{position}</h4>
                  </div>

                  <time>{years}</time>
                </header>

                <foote r>
                  <p>{summary}</p>
                  <ul>
                    {highlights.map((highlight) => {
                      return <li>{highlight}</li>;
                    })}
                  </ul>
                </foote>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>
